services:
  traefik:
    image: "traefik:v3.4"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=proxy"
      - "--entryPoints.web.address=:80"
      - "--api.insecure=true"
    ports:
      - ${HOST_WEB_PORT}:80
      - ${HOST_UI_PORT}:8080
    networks:
      dev-router:
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

networks:
  dev-router:
    name: ${DEV_ROUTER_NETWORK}
    external: true
